version: "3"
services:
  gpt-researcher:
    image: assafelovic/gpt-researcher:rob_prod
    restart: always
    container_name: rob_prod
    build: ./
    volumes:
      - ./:/usr/src/app/ # Монтирование всей директории проекта
    environment:
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - TAVILY_API_KEY=${TAVILY_API_KEY}
      #- APP_PORT=${APP_PORT}
      - CONFIG_FILE=./config.json
    env_file:
      - .env
    ports:
      - ${APP_PORT}:${APP_PORT}
    # depends_on:
    #   - redis_rob # Указывает, что gpt-researcher зависит от сервиса redis
    networks:
      - redis_app-network

networks:
  redis_app-network:
    #driver: bridge
    external: true
