version: "3"
services:
  gpt-researcher:
    image: assafelovic/gpt-researcher
    build: ./
    volumes:
      - ./:/usr/src/app/ # Монтирование всей директории проекта
    environment:
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      TAVILY_API_KEY: ${TAVILY_API_KEY}
      CONFIG_FILE: ./config.json
    ports:
      - 8034:8034
