# dependencies
beautifulsoup4
colorama
duckduckgo_search==5.3.1b1
md2pdf
playwright
openai
python-dotenv
pyyaml
uvicorn
selenium
webdriver-manager
pydantic
fastapi
python-multipart
markdown
langchain
tavily-python
arxiv
PyMuPDF
requests
jinja2
aiofiles
newspaper3k
langchain_community
SQLAlchemy
langchain-openai
mistune
python-docx
htmldocx
langchain-google-genai
lxml[html_clean]


SQLAlchemy
werkzeug
psycopg2-binary
unidecode
redis

#frontend
streamlit
websockets


#multi_agents
langgraph==0.0.40
python-dotenv
weasyprint
json5
