@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  line-height: 1.6;
  background-size: 200% 200%;
  background-image: linear-gradient(45deg, #151a2d, #2d284d, #151a2d);
  animation: gradientBG 10s ease infinite;
  padding-top: 80px; /* Добавьте отступ сверху, чтобы компенсировать высоту фиксированного header */
}

header {
  background: rgba(21, 26, 45, 0.85);
  padding: 20px 0;
  position: fixed;
  top: 0; /* Убедитесь, что header прикреплен к верху страницы */
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.5s; /* Добавлено для плавного перехода фона */
}

/* Убедитесь, что стили Bootstrap не конфликтуют с вашими собственными */
.navbar-collapse {
  justify-content: flex-end; /* Если вы хотите, чтобы элементы меню были выровнены по правому краю */
}

@media (max-width: 768px) {
  .navbar-collapse {
    background: rgba(
      21,
      26,
      45,
      0.85
    ); /* Добавьте фон для выпадающего меню на мобильных устройствах */
  }
}

/* Дополнительные стили */
.landing h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  background-image: linear-gradient(to right, #9867f0, #ed4e50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing p {
  font-size: 1.5rem;
  max-width: 600px;
  margin: auto;
  margin-bottom: 2rem;
}

.btn-primary {
  background: linear-gradient(to right, #0062cc, #007bff);
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
}

.btn-primary:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
}

.benefit-item {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.benefit-item:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

footer {
  background: linear-gradient(to right, #151a2d, #111827);
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .landing h1 {
    font-size: 2.5rem;
  }
}
